PowerProvider/src/conf/xml-resources/web-service-references/SmartMeterForPowerProviderService/wsdl/localhost_8080/SmartMeter/SmartMeterForPowerProviderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://smartmeter.power.home/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://smartmeter.power.home/" name="SmartMeterForPowerProviderService">
<types>
<xsd:schema>
<xsd:import namespace="http://smartmeter.power.home/" schemaLocation="http://localhost:8080/SmartMeter/SmartMeterForPowerProviderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="requestConsumptionProfile">
<part name="parameters" element="tns:requestConsumptionProfile"></part>
</message>
<message name="requestConsumptionProfileResponse">
<part name="parameters" element="tns:requestConsumptionProfileResponse"></part>
</message>
<message name="requestConsumptionSummary">
<part name="parameters" element="tns:requestConsumptionSummary"></part>
</message>
<message name="requestConsumptionSummaryResponse">
<part name="parameters" element="tns:requestConsumptionSummaryResponse"></part>
</message>
<message name="setConsumptionProfile">
<part name="parameters" element="tns:setConsumptionProfile"></part>
</message>
<message name="setConsumptionProfileResponse">
<part name="parameters" element="tns:setConsumptionProfileResponse"></part>
</message>
<portType name="SmartMeterForPowerProvider">
<operation name="requestConsumptionProfile">
<input message="tns:requestConsumptionProfile"></input>
<output message="tns:requestConsumptionProfileResponse"></output>
</operation>
<operation name="requestConsumptionSummary">
<input message="tns:requestConsumptionSummary"></input>
<output message="tns:requestConsumptionSummaryResponse"></output>
</operation>
<operation name="setConsumptionProfile">
<input message="tns:setConsumptionProfile"></input>
<output message="tns:setConsumptionProfileResponse"></output>
</operation>
</portType>
<binding name="SmartMeterForPowerProviderPortBinding" type="tns:SmartMeterForPowerProvider">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="requestConsumptionProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestConsumptionSummary">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setConsumptionProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SmartMeterForPowerProviderService">
<port name="SmartMeterForPowerProviderPort" binding="tns:SmartMeterForPowerProviderPortBinding">
<soap:address location="http://localhost:8080/SmartMeter/SmartMeterForPowerProviderService"></soap:address>
</port>
</service>
</definitions>