PowerProvider/src/conf/xml-resources/web-service-references/BankServiceService/wsdl/153.104.108.11_8080/SOA/BankServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soa/" name="BankServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soa/" schemaLocation="http://153.104.108.11:8080/SOA/BankServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addMoney">
<part name="parameters" element="tns:addMoney"></part>
</message>
<message name="addMoneyResponse">
<part name="parameters" element="tns:addMoneyResponse"></part>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"></part>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"></part>
</message>
<message name="transferMoney">
<part name="parameters" element="tns:transferMoney"></part>
</message>
<message name="transferMoneyResponse">
<part name="parameters" element="tns:transferMoneyResponse"></part>
</message>
<message name="addAccount">
<part name="parameters" element="tns:addAccount"></part>
</message>
<message name="addAccountResponse">
<part name="parameters" element="tns:addAccountResponse"></part>
</message>
<portType name="BankService">
<operation name="addMoney">
<input message="tns:addMoney"></input>
<output message="tns:addMoneyResponse"></output>
</operation>
<operation name="withdrawMoney">
<input message="tns:withdrawMoney"></input>
<output message="tns:withdrawMoneyResponse"></output>
</operation>
<operation name="transferMoney">
<input message="tns:transferMoney"></input>
<output message="tns:transferMoneyResponse"></output>
</operation>
<operation name="addAccount">
<input message="tns:addAccount"></input>
<output message="tns:addAccountResponse"></output>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addMoney">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="transferMoney">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankServiceService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://153.104.108.11:8080/SOA/BankServiceService"></soap:address>
</port>
</service>
</definitions>