SmartMeter/src/conf/xml-resources/web-service-references/PowerProviderForSmartMetersService/wsdl/localhost_8080/PowerProvider/PowerProviderForSmartMetersService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://provider.power.utility/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://provider.power.utility/" name="PowerProviderForSmartMetersService">
<types>
<xsd:schema>
<xsd:import namespace="http://provider.power.utility/" schemaLocation="http://localhost:8080/PowerProvider/PowerProviderForSmartMetersService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registerSmartMeter">
<part name="parameters" element="tns:registerSmartMeter"></part>
</message>
<message name="registerSmartMeterResponse">
<part name="parameters" element="tns:registerSmartMeterResponse"></part>
</message>
<message name="requestPowerProfile">
<part name="parameters" element="tns:requestPowerProfile"></part>
</message>
<message name="requestPowerProfileResponse">
<part name="parameters" element="tns:requestPowerProfileResponse"></part>
</message>
<message name="tellPowerProfile">
<part name="parameters" element="tns:tellPowerProfile"></part>
</message>
<message name="tellPowerProfileResponse">
<part name="parameters" element="tns:tellPowerProfileResponse"></part>
</message>
<message name="requestBillingInformation">
<part name="parameters" element="tns:requestBillingInformation"></part>
</message>
<message name="requestBillingInformationResponse">
<part name="parameters" element="tns:requestBillingInformationResponse"></part>
</message>
<message name="payBill">
<part name="parameters" element="tns:payBill"></part>
</message>
<message name="payBillResponse">
<part name="parameters" element="tns:payBillResponse"></part>
</message>
<portType name="PowerProviderForSmartMeters">
<operation name="registerSmartMeter">
<input message="tns:registerSmartMeter"></input>
<output message="tns:registerSmartMeterResponse"></output>
</operation>
<operation name="requestPowerProfile">
<input message="tns:requestPowerProfile"></input>
<output message="tns:requestPowerProfileResponse"></output>
</operation>
<operation name="tellPowerProfile">
<input message="tns:tellPowerProfile"></input>
<output message="tns:tellPowerProfileResponse"></output>
</operation>
<operation name="requestBillingInformation">
<input message="tns:requestBillingInformation"></input>
<output message="tns:requestBillingInformationResponse"></output>
</operation>
<operation name="payBill">
<input message="tns:payBill"></input>
<output message="tns:payBillResponse"></output>
</operation>
</portType>
<binding name="PowerProviderForSmartMetersPortBinding" type="tns:PowerProviderForSmartMeters">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registerSmartMeter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestPowerProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="tellPowerProfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestBillingInformation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payBill">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PowerProviderForSmartMetersService">
<port name="PowerProviderForSmartMetersPort" binding="tns:PowerProviderForSmartMetersPortBinding">
<soap:address location="http://localhost:8080/PowerProvider/PowerProviderForSmartMetersService"></soap:address>
</port>
</service>
</definitions>