SmartDevice/src/conf/xml-resources/web-service-references/SmartMeterForDevicesService/wsdl/localhost_8080/SmartMeter/SmartMeterForDevicesService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://smartmeter.power.home/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://smartmeter.power.home/" name="SmartMeterForDevicesService">
<types>
<xsd:schema>
<xsd:import namespace="http://smartmeter.power.home/" schemaLocation="http://localhost:8080/SmartMeter/SmartMeterForDevicesService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registerDevice">
<part name="parameters" element="tns:registerDevice"></part>
</message>
<message name="registerDeviceResponse">
<part name="parameters" element="tns:registerDeviceResponse"></part>
</message>
<message name="registerDeviceForProgramming">
<part name="parameters" element="tns:registerDeviceForProgramming"></part>
</message>
<message name="registerDeviceForProgrammingResponse">
<part name="parameters" element="tns:registerDeviceForProgrammingResponse"></part>
</message>
<message name="requestPowerConfiguration">
<part name="parameters" element="tns:requestPowerConfiguration"></part>
</message>
<message name="requestPowerConfigurationResponse">
<part name="parameters" element="tns:requestPowerConfigurationResponse"></part>
</message>
<message name="tellPowerConfiguration">
<part name="parameters" element="tns:tellPowerConfiguration"></part>
</message>
<message name="tellPowerConfigurationResponse">
<part name="parameters" element="tns:tellPowerConfigurationResponse"></part>
</message>
<message name="unregisterDevice">
<part name="parameters" element="tns:unregisterDevice"></part>
</message>
<message name="unregisterDeviceResponse">
<part name="parameters" element="tns:unregisterDeviceResponse"></part>
</message>
<portType name="SmartMeterForDevices">
<operation name="registerDevice">
<input message="tns:registerDevice"></input>
<output message="tns:registerDeviceResponse"></output>
</operation>
<operation name="registerDeviceForProgramming">
<input message="tns:registerDeviceForProgramming"></input>
<output message="tns:registerDeviceForProgrammingResponse"></output>
</operation>
<operation name="requestPowerConfiguration">
<input message="tns:requestPowerConfiguration"></input>
<output message="tns:requestPowerConfigurationResponse"></output>
</operation>
<operation name="tellPowerConfiguration">
<input message="tns:tellPowerConfiguration"></input>
<output message="tns:tellPowerConfigurationResponse"></output>
</operation>
<operation name="unregisterDevice">
<input message="tns:unregisterDevice"></input>
<output message="tns:unregisterDeviceResponse"></output>
</operation>
</portType>
<binding name="SmartMeterForDevicesPortBinding" type="tns:SmartMeterForDevices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registerDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerDeviceForProgramming">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="requestPowerConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="tellPowerConfiguration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unregisterDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SmartMeterForDevicesService">
<port name="SmartMeterForDevicesPort" binding="tns:SmartMeterForDevicesPortBinding">
<soap:address location="http://localhost:8080/SmartMeter/SmartMeterForDevicesService"></soap:address>
</port>
</service>
</definitions>